<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#navbar">
				<span class="sr-only">Toggle navigation</span>
			</button>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="active">
					<!-- <a href="#/"> --> <a ui-sref="app"> <span
						class="glyphicon glyphicon-home" aria-hidden="true"></span> Home
				</a>
				</li>
			</ul>
		</div>
	</div>
</nav>



<header class="jumbotron">

	<div class="container">
		<div class="row row-header">
			<div class="col-xs-12">
				<h1 class="header-title">Language Detector</h1>
			</div>
		</div>
	</div>
</header>